<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>激安スマホ</title>
</head>
<body onload="document.forms[0].submit()">
  <form method="POST" action="<%= INCREMENT_API_URL %>">
    <input type="hidden" name="amount" value="999">
  </form>
</body>
</html>
